* {
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	padding: 0;
}
#carousel {
	width: 400px;
	height: 240px;
	margin: 20px auto;
	overflow: hidden;
	border: 1px solid  black;
}

#carousel ul  {
	width: 2000px;
	height: 240px;
	padding: 0px;
	margin: 0px;
	font-size: 0px;

}

#carousel li {
	width: 400px;
	height: 240px;
	list-style: none;
	float: left;
}

